- unless Rails.env.production?
  = params[:user_username] if params[:user_username].present?
  = params[:user_email] if params[:user_email].present?
  = params[:user_id] if params[:user_id].present?
/http://localhost:3000/contacts?user_id=999&user_username=dawn_abbey&user_email=dawnlaksir@cox.net

        
#title_bar
  .action_items
    %span.action_item      
      - if current_user.contacts.present?
        = link_to " Edit Membership Listing", [:edit, current_user.contacts.first]
      - else
        = link_to " Add Your Membership Listing", new_contact_path 

.search

#filters_sidebar_section.sidebar_section 
  = semantic_form_for :search, :url => contacts_path , :method => :get do |f|
    .panel
      %h3 Search
      %table
        %tr
          %td
            = f.input :first_name, :required => false
          %td
            = f.input :last_name, :required => false, :style => "width:50px"                                 
        %tr
          %td
            = f.input :state, :required => false,:collection => Contact.us_states
          %td
            = f.input :center, :required => false,:collection => Center.all
        %tr
          %td
            = f.input :region, :required => false, :collection => Region.all
          %td            
            = f.submit "Search", :style => "margin-top:10px"
            = link_to "Clear", :contacts
        %tr
          %td
          %td

%table.index_table.index
  %thead
    %tr
      %th
      %th
        Name
      %th
        Region
      %th
        Center
      %th
        State

  %tbody
    - @contacts.each do |contact|
      %tr
        %td
          = link_to "Edit",[:edit, contact] if current_user && current_user.can_edit_contact(contact)
          
        %td
          = link_to  contact.name, contact if contact.name
          - if contact.email
            = raw(obscure_email(contact.email))
            %br
          - if contact.twitter && contact.twitter.length > 0
            Twitter:
            = contact.twitter
            %br
          - if contact.skype && contact.skype.length > 0
            Skype:
            = contact.skype
            %br
          - if contact.facebook_url && contact.facebook_url.length > 0
            Facebook:
            = contact.facebook_url
            %br
          - if contact.website_url && contact.website_url.length > 0
            = contact.website_url
            %br
          
        %td
          = contact.region
        %td
          = contact.center
        %td        
          = contact.state if contact.state

= paginate @contacts
%br
%br
%br
%br